.container
  display: flex
  width: 100%
  flex-wrap: nowrap
  align-items: flex-end
  flex-direction: row
  @media screen and ( max-width: 300px )
    flex-wrap: wrap
    justify-content: flex-end
    margin-right: -3em

.row
  margin-right: 20px
  display: flex
  flex-wrap: nowrap
  flex-direction: row
  flex-wrap: nowrap

.form-control
  width: 200px
  margin-right: 5px
  border-color: black
  color: grey
  // background-color: orange

.form-control-search-by
  width: 100px
  margin-right: 0px

.search-by
  font-size: 1.2em
  margin: 5px
