/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap'

.movie-image
  cursor: pointer
  transition: transform .5s
  &:hover
    transform: scale(1.05)
    transition: transform .5s
