/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap'

.movie-image
  cursor: pointer
  transition: transform .5s
  &:hover
    transform: scale(1.05)
    transition: transform .5s

html
  background: black

body
  min-height: 100vh
  background: radial-gradient(50% 50% at 50% 50%, #500600 0%, #000000 91.15%)
  color: #EAEAEA

.back-btn
  width: 10em
  margin: 1em 0 1em 3em

.btn-primary
  background-color: #580000
  border-color: red